
<mat-toolbar color="primary">
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div class="container" fxFlex fxLayout fxLayoutAlign="left" fxHide.xs>
    <ul fxLayout fxLayoutGap="40px" class="navigation-items">
        <li>
          <a routerLink="/home">{{ 'header-menu.home' | translate}}</a>
        </li>
        <li>
          <a routerLink="/destination">{{ 'header-menu.trips-hotels' | translate }}</a>
        </li>
        <li (mouseover)="onToggleMenu('menu2')" (mouseleave)="onLeaveTogg('menu2')">
            <a [routerLink] = "['/products', '2', 0]" (click)="onClickMenu(menu2)">{{ 'header-menu.fashion' | translate }}</a>
        </li>
        <li>
          <a [routerLink] = "['/products', '3', 0]">{{ 'header-menu.beauty' | translate }}</a>
        </li>
        <li>
          <a routerLink="/destination">{{ 'header-menu.recreation-outings' | translate }}</a>
        </li>
        <li>
          <a routerLink="/products">{{ 'header-menu.house' | translate }}</a>
        </li>
        <li>
            <a routerLink="/products">{{ 'header-menu.grocery' | translate }}</a>
        </li>
        <li>
            <a routerLink="/destination">{{ 'header-menu.favorites' | translate }}</a>
        </li>

    </ul>
</div>
  
</mat-toolbar>

<div class="container drop-menu" *ngIf="dropdowns['menu1']" #menu1 (menuToggle)="menu1.toggle()" 
(mouseleave)="onLeaveMenu('menu1')" (mouseover)="onOverMenu('menu1')"  >
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-6" *ngFor="let categorie of categories">
          <div *ngIf="categorie.menu=='1'">
            <ul class="list-links">
              <li>
                <h3 class="list-links-title">{{categorie.name}}</h3></li>
              <li *ngFor="let childCategories of categorie.childCategories"><a href="#">{{childCategories.name}}</a></li>
            </ul>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-6 hidden-sm hidden-xs">
          <a class="banner banner-2" href="#">
            <img src="" alt="">
          </a>
        </div>
        <div class="col-md-6 hidden-sm hidden-xs">
          <a class="banner banner-2" href="#">
            <img src="assets/img/products/banner04.jpg" alt="">
            <div class="banner-caption">
              <h3 class="white-color">NEW<br>COLLECTION</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container drop-menu" *ngIf="dropdowns['menu2']" #menu2 (menuToggle)="menu2.toggle()" 
(mouseleave)="onLeaveMenu('menu2')" (mouseover)="onOverMenu('menu2')"  >
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-6" *ngFor="let category of categories">
          <div *ngIf="category.menu=='2'">
            <ul class="list-links">
              <li>
                <a [routerLink] = "['/products', '0', category.id]"><h3 class="list-links-title">{{category.name}}</h3></a>
              </li>
              <li *ngFor="let childCategory of category.childCategories">
                <a [routerLink] = "['/products', '0', childCategory.id]">{{childCategory.name}}</a>
              </li>
            </ul>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-6 hidden-sm hidden-xs">
          <a class="banner banner-2" href="#">
            <img src="" alt="">
          </a>
        </div>
        <div class="col-md-6 hidden-sm hidden-xs">
          <a class="banner banner-2" href="#">
            <img src="assets/img/products/banner04.jpg" alt="">
            <div class="banner-caption">
              <h3 class="white-color">NEW<br>COLLECTION</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container drop-menu" *ngIf="dropdowns['menu3']" #menu3 (menu3Toggle)="menu3.toggle()" 
(mouseleave)="onLeaveMenu('menu3')" (mouseover)="onOverMenu('menu3')"  >
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-6" *ngFor="let categorie of categories">
          <div *ngIf="categorie.menu=='3'">
            <ul class="list-links">
              <li>
                <h3 class="list-links-title">{{categorie.name}}</h3></li>
              <li *ngFor="let childCategories of categorie.childCategories"><a href="#">{{childCategories.name}}</a></li>
            </ul>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-6 hidden-sm hidden-xs">
          <a class="banner banner-2" href="#">
            <img src="" alt="">
          </a>
        </div>
        <div class="col-md-6 hidden-sm hidden-xs">
          <a class="banner banner-2" href="#">
            <img src="assets/img/products/banner04.jpg" alt="">
            <div class="banner-caption">
              <h3 class="white-color">NEW<br>COLLECTION</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

    




